

<div class="navbar">
	<div class="navbar-header">
		<%= link_to "Wikinimous", articles_path  %>
	</div>
	<ul class="navbar-right">
		<li>
		<%= link_to "New Article", new_article_path  %>
		</li>
	</ul>
</div>